<div class="container">
  <h1>Path Mapper</h1>

  <mat-form-field appearance="fill" class="mr-1">
    <mat-label>Start Point</mat-label>
    <input matInput [(ngModel)]="startPoint" />
  </mat-form-field>
  <mat-form-field appearance="fill" class="mr-1">
    <mat-label>End Point</mat-label>
    <input matInput [(ngModel)]="endPoint" />
  </mat-form-field>

  <button mat-raised-button color="primary" class="mr-1" (click)="addTrip()">Add Trip</button>
  <button mat-raised-button color="secoundary" (click)="resetTrip()">Reset Trip</button>
  <div *ngIf="trips.length">
    <span class="dot1" ></span> Level 1
    <span class="dot2"></span> Level 2
  </div>
  <div class="trip-container">
    <div *ngFor="let trip of trips; let i = index" [ngClass]="'level-' + trip.level">
      <div class="trip-line">
        <span *ngIf="trips.length !== 1 && (i>0)" class="line"></span>
        <ng-container *ngIf="trips.length !== 1 && !trip.isContinued && (i>0) && trip.level == 1 "><span
            class="arrow">{{">"}}</span></ng-container><span class="dot"></span>
        <span class="abb">{{ getAbbreviation(trip.start) }} {{" - "}} {{ getAbbreviation(trip.end) }}</span>
      </div>
    </div>
  </div>
</div>